@keyframes fade-in {  
    0% {opacity: 0;}/*��ʼ״̬ ͸����Ϊ0*/  
    40% {opacity: 0;}/*����״̬ ͸����Ϊ0*/  
    100% {opacity: 1;}/*����״̬ ͸����Ϊ1*/  
}  
@-webkit-keyframes fade-in {/*���webkit�ں�*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
} 

.allcontent {
    background: white;
    height: auto;
    min-height: 100vh;
    justify-content: left;
    text-align: left;
    animation: fade-in;/*��������*/  
    animation-duration: 1s;/*��������ʱ��*/  
    -webkit-animation:fade-in 1s;/*���webkit�ں�*/  
}


.postinfo-detail{
    margin-left: 0;
}

.text {
    padding-top: 60px;
    padding-bottom: 50px;
    z-index: 5;
}

.text img {
    width: 100%;
}

.prev-post {
    display: inline;
    background: white;
    float: left;
    font-size: 1.4em;
    color: black;
}

.next-post {
    display: inline;
    background: white;
    float: right;
    font-size: 1.4em;
    color: black;
}

.prev-post a,
.next-post a {
    color: black;
    font-family: "Microsoft JhengHei", miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, Sans-Serif;
    font-weight: lighter;
    padding:2px;
    font-size: 16px;
}

.prev-post a:hover,
.next-post a:hover {
    text-decoration: none;
    color: black;
}

#texttitle {
    padding-top: 50px;
}

.readercount{
    opacity: 0.7;
    font-weight: lighter;
}


@media screen and (min-width: 1300px) {

    .allcontent .postdate,
    .allcontent .poststatus,
    .allcontent .posttag {
        font-size: 15px;
    }

    #texttitle {
        margin-top: 50px;
    }

    .postimage {
        width: 100%;
    }

    .allcontent #vcomments {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .prev-post,
    .next-post {
        margin-top: 25px;
        border: solid;
        border-radius: 10px;
        box-shadow: 2ch;
        width: 100%;
        padding: 0;
    }

    .readercount{
        display: none;
    }
}