<body>
    <div id="talks">
        <div id="talkContainer">
        </div>
        <button id="getmorebt" type="button" onclick="add()">获取更多</button>
    </div>
    </div>
    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <img class="modal-content" id="img01">
    </div>
</body>
