<style>
    /* 触发弹窗图片的样式 */
    .talkimg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .talkimg:hover {
        opacity: 0.7;
    }

    /* 弹窗背景 */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* 图片 */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }



    /* 添加动画 */
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* 关闭按钮 */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 80px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 小屏幕中图片宽度为 100% */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<body>
    <div id="talks">
        <div id="talkContainer">
        </div>
        <button id="getmorebt" type="button" onclick="add()">获取更多</button>
    </div>
    </div>
    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <img class="modal-content" id="img01">
        <!-- 关闭按钮 -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    </div>


</body>
<script>
    var talksall = [];
    var talks = [];
    var talkindex;

    get();
    add();

    function get() {
        var t = JSON.parse('<%- JSON.stringify(site.customConfig.talks) %>');
        talkindex = t.length - 1;
        for (var i = t.length - 1; i >= 0; i--) {
            var d = {};
            d["time"] = t[i].time;
            d["author"] = t[i].author;
            d["text"] = t[i].text;
            d["img"] = t[i].img;
            talksall.push(d);
        }
    }

    function add() {
        for (var i = talkindex; i >= 0 && i > talkindex - 3; i--) {
            talks.push(talksall[i]);
        }
        talkindex = (talkindex - 3) >= 0 ? (talkindex - 3) : -1;
        if (talkindex < 0) $("#getmorebt").hide();
        show();
        refreshImg();
    }

    function show() {
        var talkT = document.getElementById("talkContainer");
        talkT.innerHTML = "";
        for (var i = 0; i < talks.length; i++) {
            talkT.innerHTML += '\
            <div class="talk" v-for="t in talks"> \
                <img src="' + talks[i].img + '" class="talkimg"> \
                <div class="ainfo">\
                    <div class="ainfo-intro">\
                        <img class="intro1" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>">\
                        <div class="author">' + talks[i].author + '</div>·\
                        <div class="time">' + talks[i].time + '</div>\
                    </div>\
                </div>\
                <div class="talkcontent">' + talks[i].text + '\
                </div\>\
            ';
        }
    }

    function refreshImg() {
        // 获取弹窗
        var modal = document.getElementById('myModal');

        // 获取图片插入到弹窗 - 使用 "alt" 属性作为文本部分的内容
        var img = document.getElementsByClassName("talkimg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        for (var i in img) {
            img[i].onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
            }
        }

        // 获取 <span> 元素，设置关闭按钮
        var span = document.getElementsByClassName("close")[0];

        // 当点击 (x), 关闭弹窗
        span.onclick = function () {
            modal.style.display = "none";
        }
    }
</script>
<!-- 由于vue中click失效 转由基本js书写  查看大图 -->