<!-- 文章热度功能和评论整合 -->
<style>
  .twikoo p {text-align: left;}
</style>
<body>
<div id="tcomment"></div>
</body>
<script>
twikoo.init({
  envId: '<%= site.customConfig.twikoo_id %>',
  el: '#tcomment',
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，如果您的环境地域不是上海，需传此参数
  // path: 'window.location.pathname', // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
})
</script>

<script>
  var appid = '<%= site.customConfig.Leancloud_appId %>';
  var appkey = '<%= site.customConfig.Leancloud_key %>';
  if(typeof(AVinit)=="undefined"){
    AV.init({
      appId: appid,
      appKey: appkey
  });
  AVinit = true;
}
</script>