<%if(site.customConfig.commentschoice=='valine'){%>
        <div id="vcomments">
        </div>
        <script>
            var valine = new Valine();
            var curpath = window.location.pathname;
            if (curpath[curpath.length - 1] != '/')
                curpath += '/'
            valine.init({
                el: '#vcomments',
                appId: '<%= site.customConfig.Leancloud_appId %>',
                appKey: '<%= site.customConfig.Leancloud_key %>',
                avatar: 'retro',
                pageSize: 10,
                placeholder: '既然来了，何不畅所欲言呢？',
                recordIP: true,
                path: curpath //[重点] 记得添加path路径
            });
        </script>
        <script type="text/javascript">
            var jrsc = '既然来了，何不畅所欲言呢？';
            jinrishici.load(function (result) {
                // 自己的处理逻辑
                jrsc = result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin
                    .dynasty + " · " + result.data.origin.author;
            });
        </script>
<%}%>
