<head>
    <script src='<%= themeConfig.domain %>/media/js/valine.min.js%>'></script>
    <script src="<%= themeConfig.domain %>/media/js/jquery.min.js%>"></script>
</head>
<style>
    @media screen and (min-width: 1300px) {
        .v .vbtn .vsubmit {
            border-radius: 0;
            padding: 0;
            color: #fff;
            line-height: 44px;
            width: 100%;
            border: none;
            background: #595485;
        }

        .v .vwrap .vedit .vctrl span.vpreview-btn,
        .v .vwrap .vcontrol .col.col-20,
        .v .vlist .vcard .vhead .vsys {
            display: none;
        }

        .v .vwrap .vmark .valert {
            padding-top: 0px;
        }

        .vtext {
            padding: 0;
        }
    }
</style>

<body>
    <div id="vcomments">
    </div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<%= site.customConfig.valineID %>',
            appKey: '<%= site.customConfig.valineKey %>',
            notify: true,
            verify: false,
            avatar: 'retro',
            pageSize: 10,
            placeholder: '既然来了，何不畅所欲言呢？',
            visitor: true // 阅读量统计
        })
    </script>
</body>

<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
    jinrishici.load(function (result) {
        var jrsc_plac = result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin
            .dynasty + " · " + result.data.origin.author
        document.getElementById("veditor").setAttribute("placeholder", jrsc_plac);
    });
</script>