<style>
    @media screen and (min-width: 1300px) {
        .veditor::placeholder {
            color: #b3b3b3;
            font-size: 18px;
            text-align: center;
            line-height: 3rem;
            font-family: kaiti;
        }
    }
</style>

<body>
    <div id="vcomments">
    </div>
    <script src='<%= themeConfig.domain %>/media/js/valine.min.js%>'></script>
    <script src="<%= themeConfig.domain %>/media/js/jquery.min.js%>"></script>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<%= site.customConfig.valineID %>',
            appKey: '<%= site.customConfig.valineKey %>',
            notify: true,
            verify: false,
            avatar: 'retro',
            pageSize: 10,
            placeholder: '既然来了，何不畅所欲言呢？',
            visitor: true, // 阅读量统计
        });
    </script>
    <script type="text/javascript">
        // jinrishici.load(function (result) {
        //     var jrsc_plac = result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin
        //         .dynasty + " · " + result.data.origin.author;
        //     if (jrsc_plac != undefined)
        //         document.getElementById("veditor").setAttribute("placeholder", jrsc_plac);
        // 
        var jrsc = '既然来了，何不畅所欲言呢？';
        jinrishici.load(function (result) {
                // 自己的处理逻辑
                jrsc = result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin
                 .dynasty + " · " + result.data.origin.author;
            });
    </script> 
</body>