<head>
        <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
        <script src="<%= themeConfig.domain %>/media/js/jquery.min.js%>"></script>
    </head>
    <style>
        @media screen and (min-width: 1300px) {
            .v {
                margin-top: 10%;
            }
    
            .v .vwrap {
                overflow: hidden;
            }
    
            .v .vwrap {
                padding: 0 0 44px;
            }
    
            .v .veditor {
                min-height: 7rem;
                resize: none;
            }
    
            .v .vwrap .vedit {
                padding-top: 0
            }
    
            .v .vwrap .vheader {
                width: 80%;
                bottom: 0;
                position: absolute;
                background: #f7f7f7;
            }
    
            .v .vinput {
                padding: 10px 15px;
            }
    
            .v .vwrap .vheader .vinput {
                border-bottom: 0px
            }
    
            .v .vwrap .vedit .vctrl {
                margin-top: -44px;
                right: 0;
                position: absolute;
                margin-right: -3px;
            }
    
            .v .vwrap .vcontrol {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 20%;
                padding-top: 0px;
            }
        }
    
        .v .vwrap .vcontrol .col.col-80 {
            width: 100%;
        }
    
        .v .vbtn.vsubmit {
            border-radius: 0;
            padding: 0;
            color: #fff;
            line-height: 44px;
            width: 100%;
            border: none;
            background: #1abc9c;
        }
    
        .v .vwrap .vedit .vctrl span.vpreview-btn,
        .v .vwrap .vcontrol .col.col-20,
        .v .vlist .vcard .vhead .vsys {
            display: none;
        }
    
        .v .vwrap .vmark .valert {
            padding-top: 0px;
        }
    
        .vtext{
            padding: 0;
        }
    
        @media screen and (max-width: 1300px) {
            .v .vwrap .vmark .valert{
                margin-top:60%;
            }
            .vwrap{
                margin: 15px;
                width: 100%;
            }
            .v .vwrap .vheader .vinput {
                padding: 10px 5px;
            }
            .v .vwrap{
                overflow: auto;
            }
            .v .veditor {
                min-height: 30rem;
                resize: none;
            }
    
            .v .vinput {
                padding: 10px 15px;
                font-size: 20px;
            }
    
            .v .vwrap .vedit .vctrl {
                right: 0;
            }
    
            .v .vempty {
                padding: 1.25em;
                text-align: center;
                color: #999;
                font-size: 25px;
            }
    
        }
    </style>
    
    <body>
        <div id="vcomments1"></div>
        <script>
            new Valine({
                el: '#vcomments1',
                appId: '<%= site.customConfig.valineID %>',
                appKey: '<%= site.customConfig.valineKey %>',
                notify: true,
                verify: false,
                avatar: 'retro',
                pageSize: 30,
                placeholder: '既然来了，那就留个痕迹吧~',
            })
        </script>
    </body>